@import '../../styles/variables'; 

.rating{
  margin: 0 0 1em 0;
  padding: 0;
  border: none;
  display: flex;
  gap: 0;

  &__item{
    margin: 0;
    padding: 0;
    height: 1.2em;
    width: 1.2em;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    
    color: transparent;
    background: $primaryGradient;
    -webkit-background-clip: text;
    background-clip: text;

    &:focus{
      outline: none;
    }
  }
}