.radio {
  font-family: $font-family;
  font-size: 14px;

  &__label {
    display: flex;

    &-txt {
      color: $dark-shade-25;

      .radio__hidden-input:checked~& {
        color: $dark-shade-75;
      }

      .radio__hidden-input:hover~& {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__visible-input {
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    width: 1.12em;
    height: 1.12em;
    margin-right: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;

    &-internal {
      border-radius: 50%;
      width: 0.83em;
      height: 0.83em;
      background: $white;
    }

    .radio__hidden-input:checked+& {
      border-color: $primaryColor;

      &>.radio__visible-input-internal {
        background: $primaryGradient;
      }
    }
  }

  &__hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

}