mixin color-block(colorName, colorCode, colorClass)
	.color-block()
		.color-block__rectangle(class='color-block__'+colorClass)
		.color-block__description
			.color-block__name= colorName
			.color-block__code= colorCode