@import '../../styles/variables';

.button{
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 22px;
  padding: 0.12em 0.35em 0.2em 0em;
  width: 100%;
  //width:fit-content;

  &:focus{
    outline: none;
  }

  &__background{
    width: 100%;
    background: $primaryGradient;
    color: $background-color;
    padding: 0.12em 0.35em 0.2em 0em;
    &:hover, &:focus, &_hover{
      opacity: 0.5;
    } 
  }
  
  &__border{
    background: $primaryGradient;
    color: $primaryColor;
    padding: 0.17em;
    &:hover, &:focus, &_hover{
      background: $primaryGradient-50;
    }
  }

  &__text-only{
    width:fit-content;
    background: none; 
  }

  &__align-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon{
    font-size: 18px;
    color: $background-color;
    padding-right: 0.5em;
    margin-top: 0.2em;
    &_invisible-for-aligning{
      opacity: 0;
    }
  }

  &__internal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    padding: 1.05em 0.6em;

    &-background{
      background: inherit;
    }
    &-border{
      background: $background-color;
      //padding: 1.05em 2em;
    }
    &-text-only{
      background: none;
      color: $primaryColor;
      padding: 0;
      &:hover, &:focus, &_hover{
        color: $dark-shade-50;
      }
    }   
  }

}