@import '../../styles/variables';

.button{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 22px;
  padding: 0;

  &__internal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 22px;
    padding: 1.1em 1.6em;

    background: $background-color;
    //background-color: red;
  }

  &__background{
    background: $primaryGradient;
    color: $background-color;
    padding: 0.1em 0.15em;
    
  }

  &__border{
    background: $background-color;
    border: 2px solid $primaryColor;
    box-sizing: border-box;
    //padding: 1.2em 1.6em;
  }
  
}