@import '../../styles/variables';
@import '../btn-icon/btn-icon.scss';

.text-field {
  background: $background-color;

  &__label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__label-span {
    font-weight: bold;
  }

  &__sublabel-span {
    color: $dark-shade-50;
    align-self: flex-start;
  }

  &__input {
    font-family: inherit;
    font-size: 14px;
    display: block;
    margin: 0;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    color: $dark-shade-75;
    padding: 12px 13px;

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
      outline: none;
    }

    &::placeholder {
      color: $dark-shade-25;
    }

    &_focus {
      border: 1px solid $dark-shade-50;
    }

  }

  &__input-flex-wrap{
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

}