@import '../../styles/Montserrat.css';
@import '../../styles/variables.scss';

.landing{

  &__main{
    height: 830px;
    position: relative;
  }
  
  &__container{
    max-width: 1160px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media screen and (max-width: 1190px) {
      padding: 0 1rem;
    }
  }

  &__room-search{
    max-width: 23.75rem;
    min-width: 16rem;
    position: absolute;
    top: 4.35rem;
  }

  &__description{
    font-size: 14px;
    color: $dark-shade-75;
    line-height: 1.5rem;
    text-align: right;
    max-width: 17rem;
    position: absolute;
    bottom: 1.4rem;
    right: 0;
  }

}
