extends ../../page-layout/template/template.pug

include ../../blocks/carousel/carousel.pug
include ../../blocks/room-search/room-search.pug

block vars
  - const pageTitle = "Landing page"
  - const userName = ""
block content
  .landing
    .landing__main  
      +carousel({track: "false", autoImagesChange: "true", items:[require("../../assets/images/background1.png"), require("../../assets/images/background2.png"), require("../../assets/images/background3.png")]})
      .landing__container
        .landing__room-search
          +room-search()
        .landing__description Лучшие номера для вашей работы, отдыха и просто вдохновения