extends ../../page-layout/template/template.pug

include ../../blocks/carousel/carousel.pug
include ../../blocks/login/login.pug


block vars
  - const pageTitle = "Sign in"
  - const userName = ""
block content
  .sign-in
     .sign-in__main  
      +carousel({track: "false", autoImagesChange: "true", items:[require("../../assets/images/background4.png"), require("../../assets/images/background1.png")]})
      .sign-in__container
        .sign-in__login-card
          +login()