@import '../../styles/variables';
@import '../../styles/material-icons.css';

.btn-expand{

  &__flex-wrap{
    position: relative;
    display: flex;
    align-items: center;
  }
  
  &__pic{
    color: $dark-shade-50;
    font-size: 13px;
    position: absolute;
    left: -30px;
  }

}