@import '../../styles/Montserrat.css';
@import '../../styles/variables.scss';

.search-room{
  
  margin-top: 1.8rem;
  border-bottom: 1px solid $dark-shade-25;

  &__title{
    font-size: 24px;
    margin: 0;
    margin-bottom: 1.4rem;
  }

  &__container{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  &__aside{
    width: 65rem;
    margin-right: 3.7rem;
  }

  &__period{margin-bottom: 1.3rem;}
  &__guests{margin-bottom: 1.9rem;}
  &__price-range{
    margin-bottom: 0.9rem;
    &-description{
      font-size: 12px;
      color: $dark-shade-50;
      margin-bottom: 1.8rem;
    }
  }
  &__home-rules{
    margin-bottom: 2rem;
    max-width: 14rem;
  }
  &__availability{margin-bottom: 1.8rem;}
  &__facilities{margin-bottom: 1.9rem;}
  &__additional-amenities{
    margin-bottom: 1rem;
    max-width: 15.6rem;
  }

  &__rooms{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.2rem;
    margin-bottom: 1.7rem;
  }

  &__pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 4.8rem;
    margin-right: 0.8rem;
  }

}
