@import '../../styles/Montserrat.css';
@import '../../styles/variables.scss';

.search-room{
  
  margin-top: 1.8rem;
  border-bottom: 1px solid $dark-shade-25;

  &__title{
    font-size: 24px;
    margin: 0;
    margin-bottom: 1.4rem;
  }

  &__container{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    @media screen and (max-width: 530px) {
      flex-direction: column;
    }
  }

  &__aside{
    width: 67rem;
    min-width: 13rem;
    margin-right: 3.7rem;

    @media screen and (max-width: 900px) {
      margin-right: 1rem;
    }
    @media screen and (max-width: 530px) {
      width: 100%;
      max-width: 67rem;
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.5rem;
      row-gap: 1.2rem;
  
      &-part1{
        width: 13rem;
      }
      &-part2{
        width: 12rem;
      }
    }

  }

  &__period{margin-bottom: 1.3rem;}
  &__guests{margin-bottom: 1.9rem;}
  &__price-range{
    margin-bottom: 0.9rem;
    &-description{
      font-size: 12px;
      color: $dark-shade-50;
      margin-bottom: 1.8rem;
    }
  }
  &__home-rules{
    margin-bottom: 2rem;
    max-width: 14rem;
  }
  &__availability{margin-bottom: 1.8rem;}
  &__facilities{margin-bottom: 1.9rem;}
  &__additional-amenities{
    margin-bottom: 1rem;
    max-width: 15.6rem;
  }

  &__rooms{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.6rem;
    row-gap: 1.2rem;
    justify-content: flex-start;
    margin-bottom: 1.7rem;
  }

  &__room-card{
    width: 16.95rem;
  }

  &__pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 4.8rem;
    margin-right: 0.8rem;
  }

  @media screen and (max-width: 1185px) {
    padding: 0 0.5rem;
  }

}
