.btn-icon{

  &__flex-wrap{
    position: relative;
    display: flex;
    align-items: center;
  }
  
  &__pic{
    font-size: 18px;
    position: absolute;
    left: -30px;
    //right: 0;

    color: transparent;
    background: $primaryGradient;
    -webkit-background-clip: text;
    background-clip: text;
  }

}