.checkbox {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: $dark-shade-50;
  display: flex;
  margin-bottom: 0.75em;

  &__visible-input {
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.7em;
    flex-shrink: 0;
  }

  &__hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked+.checkbox__visible-input {
      border-color: $primaryColor;
      background: no-repeat center url(../blocks/checkbox/check-mark.svg);
    }

    &:focus+.checkbox__visible-input{
      box-shadow: 0 0 0 0.05em $dark-shade-50;
    }

  }

  &__label {
    display: flex;
  }
}