@import "../../styles/variables";

.checkbox {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-shadow: none;
  color: $color-main-dark;
  display: flex;
  margin-bottom: 0.73em;

  &__visible-input {
    border: 1px solid $color-main-light;
    border-radius: 4px;
    width: 1.29em;
    height: 1.29em;
    margin-right: 0.7em;
    flex-shrink: 0;
  }

  &__hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .checkbox__visible-input {
      border-color: $primaryColor;
      background: no-repeat center url(./check-mark.svg);
    }

    &:focus ~ .checkbox__label-flex-wrap {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__label-flex-wrap {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
  }

  &__label-text_rich {
    font-weight: bold;
    color: $color-main-darker;
    margin-bottom: 0.44em;
  }

  &__description {
    font-size: 12px;
    text-shadow: none;
    line-height: 14px;
  }
}
