@import '../../styles/variables';

.login{

  padding: 2.5em 1.8em 2em 1.8em;

  box-shadow: $card-shadow;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: $background-color;
  
  &__title{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.65em;
  }

  &__email{
    margin-bottom: 0.35em;
  }

  &__password{
    margin-bottom: 1.2em;
  }

  &__submit{
    margin-bottom: 1.9em;
  }

  &__registration{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-label{
      flex-grow: 8;
    }

    &-btn{
      flex-grow: 2.7;
    }
  }
}