@import '../../styles/variables.scss';
@import '../../styles/Montserrat.css';
@import '../../styles/brands-icons.css';
@import '../../styles/material-icons.css';

@import '../../blocks/btn-expand/btn-expand.scss';
@import '../../blocks/btn-icon/btn-icon.scss';
@import '../../blocks/text-field/text-field';
@import '../../blocks/dropdown/dropdown.scss';
@import '../../blocks/date-dropdown/date-dropdown.scss';
@import '../../blocks/checkbox/checkbox.scss';
@import '../../blocks/checkbox-list/checkbox-list.scss';
@import '../../blocks/facility/facility.scss';
@import '../../blocks/review/review.scss';
@import '../../blocks/like-btn/like-btn.scss';
@import '../../blocks/radio/radio.scss';
@import '../../blocks/toggle/toggle.scss';

body {
  margin: 0;
  font-family: 'Montserrat';

  .form-elements {
    margin-top: 72px;
    max-width: 1132.26px;
    margin-left: auto;
    margin-right: auto;

    &__logo {
      margin-top: 30px;
      margin-left: 30px;
    }
    &__top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5rem;

    }

    &__block-title{
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    &__text-field {
      width: 320px;
      margin-bottom: 20px;
    }
    &__text-field-short {
      width: 266px;
      margin-bottom: 20px;
    }
    &__expandable-checkbox {
      width: 250px;
      margin-bottom: 20px;
    }
    &__checkbox {
      width: 13.875rem;
      margin-bottom: 2.555rem;
    }
    &__footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__facilities{
      width: 280px;
      margin-bottom: 20px;
    }
    &__review{
      width: 709px;
    }
    
    &__likes{
      width: 90px;
      &-flex-wrap{
        display: flex;
        justify-content: space-between;
      }
    }

    &__radio-btns {
      width: 13.875rem;
      margin-bottom: 2.555rem;
      &-flex-wrap{
        display: flex;
        gap: 1.2rem;
      }
    }

    &__toggles{
      width: 16.31rem;
      margin-bottom: 2.555rem;
      &-flex-wrap{
        display: flex;
        flex-direction: column;
        gap: 0.9em;
      }
    }  
  }

}