body {
  margin: 0;

  .form-elements__logo {
    margin-top: 30px;
    margin-left: 30px;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    max-width: 1132.26px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-fields{
    display: flex;
    flex-direction: column;
  }

  .form-elements__text-field {
    width: 320px;
    margin-bottom: 20px;
  }

  .form-elements__text-field-short {
    width: 266px;
    margin-bottom: 20px;
  }

  .form-elemments-2dates-flex{
    display: flex;
    justify-content: space-between;
  }

  .form-elements-dropdown-date{
    width: 150px;
  }

  .form-elements__checkbox {
    width: 13.875rem;
    margin-bottom: 2.555rem;
  }
}