include ../../blocks/logo/logo.pug
include ../../blocks/text-field/text-field.pug
include ../../blocks/dropdown/dropdown.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Form elements
  body
    +logo("form-elements__logo")
    .content-wrapper
      .text-fields
        .form-elements__text-field
          +text-field({label: "text field", sublabel:"Default", placeholder: "Email"})
        .form-elements__text-field
          +text-field({label:"text field", sublabel: "Hover/Focus", value: "This is pretty awesome", dateMasked: false, focus: true})
        .form-elements__text-field
          +dropdown({label: "dropdown", initValue: "Сколько гостей", expanded: false,
            list: [{name: "Взрослые", number: 0, declensions: ["гость", "гостя", "гостей"]},
                   {name: "Дети", number: 0, declensions: ["гость", "гостя", "гостей"]},
                   {name: "Младенцы", number: 0, declensions: ["младенец", "младенца", "младенцев"]}]})
        .form-elements__text-field
          +text-field({label: "masked text field", placeholder: "ДД.ММ.ГГГГ", positioningClass: "form-elements__text-field", dateMasked: true})
        .form-elements__text-field-short
          +dropdown({label: "dropdown", sublabel:"Default", initValue: "удобства", expanded: false,
            list: [{name: "Спальни", number: 2, declensions: ["спальня", "спальни", "спален"]},
                   {name: "Кровати", number: 2, declensions: ["кровать", "кровати", "кроватей"]},
                   {name: "Ванные комнаты", number: 1, declensions: ["ванная комната", "ванных комнаты", "ванных комнат"]}]})
        .form-elements__text-field-short
          +dropdown({label: "dropdown", sublabel:"Expanded", initValue: "удобства", expanded: true,
            list: [{name: "Спальни", number: 2, declensions: ["спальня", "спальни", "спален"]},
                   {name: "Кровати", number: 2, declensions: ["кровать", "кровати", "кроватей"]},
                   {name: "Ванные комнаты", number: 1, declensions: ["ванная комната", "ванных комнаты", "ванных комнат"]}]})
        .form-elements__text-field
          +dropdown({label: "dropdown", initValue: "Сколько гостей", expanded: true,
            list: [{name: "Взрослые", number: 0, declensions: ["гость", "гостя", "гостей"]},
                   {name: "Дети", number: 0, declensions: ["гость", "гостя", "гостей"]},
                   {name: "Младенцы", number: 0, declensions: ["младенец", "младенца", "младенцев"]}]})
        .form-elements__text-field
          +dropdown({label: "dropdown", initValue: "Сколько гостей", expanded: true,
            list: [{name: "Взрослые", number: 2, declensions: ["гость", "гостя", "гостей"]},
                   {name: "Дети", number: 1, declensions: ["гость", "гостя", "гостей"]},
                   {name: "Младенцы", number: 0, declensions: ["младенец", "младенца", "младенцев"]}]})
            
    