body {
  margin: 0;

  .form-elements__logo {
    margin-top: 30px;
    margin-left: 30px;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    max-width: 1132.26px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-fields{
    display: flex;
    flex-direction: column;
  }

  .form-elements__text-field {
    width: 320px;
    margin-bottom: 20px;
  }
}