include ../../blocks/logo/logo.pug
include ../../blocks/text-field/text-field.pug
include ../../blocks/dropdown/dropdown.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Form elements
  body
    +logo("form-elements__logo")
    .content-wrapper
      .text-fields
        .form-elements__text-field
          +text-field({label: "text field", sublabel:"Default", placeholder: "Email"})
        .form-elements__text-field
          +text-field({label:"text field", sublabel: "Hover/Focus", value: "This is pretty awesome", dateMasked: false, focus: true})
        .form-elements__text-field
          - const guestsList = ["ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ"]
          +dropdown({label: "dropdown", value: "Сколько гостей", list: guestsList})
        .form-elements__text-field
          +text-field({label: "masked text field", placeholder: "ДД.ММ.ГГГГ", positioningClass: "form-elements__text-field", dateMasked: true})
    