@import '../../styles/variables.scss';
@import '../../styles/Montserrat.css';

body {
  margin: 0;
  font-family: $font-family;

  .form-elements {
    margin-top: 72px;
    max-width: 1132.26px;
    margin-left: auto;
    margin-right: auto;

    &__logo {
      margin-top: 30px;
      margin-left: 30px;
    }
    &__top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5rem;
    }

    &__block-title{
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    &__text-field {
      width: 320px;
      margin-bottom: 20px;
    }
    &__text-field-short {
      width: 266px;
      margin-bottom: 20px;
    }
    &__expandable-checkbox {
      width: 250px;
      margin-bottom: 20px;
    }
    &__checkbox {
      width: 13.875rem;
      margin-bottom: 2.555rem;
    }
    &__footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__facilities{
      width: 280px;
      margin-bottom: 20px;
    }
    &__review{
      width: 709px;
    }
    
    &__likes{
      width: 90px;
      margin-bottom: 2.55rem;
      &-flex-wrap{
        display: flex;
        justify-content: space-between;
      }
    }

    &__radio-btns {
      width: 13.875rem;
      margin-bottom: 2.55rem;
      &-flex-wrap{
        display: flex;
        gap: 1.3rem;
      }
    }

    &__toggles{
      width: 16.31rem;
      margin-bottom: 2.8rem;
      &-flex-wrap{
        display: flex;
        flex-direction: column;
        gap: 0.9em;
      }
    }  

    &__rating{
      font-size: 20px;
      margin-left: 0.1em;
      width: 16.31rem;
      margin-bottom: 2.8rem;
      display: flex;
      gap: 1em;
    }

    &__range-slider{
      width: 16.56rem;
    }

  }

}