@import "../../styles/Montserrat.css";
@import "../../styles/variables.scss";

body {
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;

  .ui-kit-template {
    &__background-grey {
      background-color: $background-color-darker;
    }

    &__logo {
      margin-top: 30px;
      margin-left: 30px;
    }
  }
}
