/*@import "~normalize.css";*/
@import './colors.scss';
@import './Montserrat.css';
@import './brands-icons.css';
@import './material-icons.css';
@import '../blocks/color-block/color-block.scss';
@import '../blocks/type-block/type-block.scss';
@import '../pages/ui-kit/colors-and-type/colors-and-type.scss';

.html{
	font-family: 'Montserrat';
}

.test {
	font-family: Arial;
}

.test2 {
	background-image: url('../assets/images/test.png');
	display: block;
	height: 140px;
}

.color-card {
	font-family: 'Montserrat';
	background-color: lemonchiffon;
	font-family: 'Montserrat';
}
