/*@import "~normalize.css";*/
.html{
	font-family: 'Montserrat';
}

@import './colors.scss';
@import './Montserrat.css';
@import './brands-icons.css';
@import './material-icons.css';
@import '../blocks/color-block/color-block.scss';
@import '../blocks/type-block/type-block.scss';
@import '../blocks/text-field/text-field';
@import '../blocks/dropdown/dropdown.scss';
@import '../pages/colors-and-type/colors-and-type.scss';
@import '../pages/form-elements/form-elements.scss';
@import '../blocks/date-dropdown/date-dropdown.scss';