@font-face {
	font-family: "material-icons";
	src: url("../assets/material-icons/material-icons.eot?7eqj6r");
	src: url("../assets/material-icons/material-icons.eot?7eqj6r#iefix") format("embedded-opentype"),
		url("../assets/material-icons/material-icons.ttf?7eqj6r") format("truetype"),
		url("../assets/material-icons/material-icons.woff?7eqj6r") format("woff"),
		url("../assets/material-icons/material-icons.svg?7eqj6r#material-icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "material-icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-expand_more:before {
	content: "\e903";
}
.icon-arrow_forward:before {
	content: "\e904";
}
.icon-favorite:before {
	content: "\e905";
}
.icon-insert_emoticon:before {
	content: "\e906";
}
.icon-location_city:before {
	content: "\e907";
}
.icon-favorite_border:before {
	content: "\e908";
}
.icon-star:before {
	content: "\e909";
}
.icon-star_border:before {
	content: "\e90a";
}
.icon-twitter:before {
	content: "\e900";
}
.icon-facebook:before {
	content: "\e901";
}
.icon-instagram:before {
	content: "\e902";
}
