$dark-shade-100: #1f2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$primaryColor: #bc9cff;
$secondaryColor: #6fcf97;
$white: #ffffff;
$primaryGradient: linear-gradient(180deg, $primaryColor 0%, #8ba4f9 100%);
$primaryGradient-25: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
$secondaryGradient: linear-gradient(180deg, $secondaryColor 0%, #66d2ea 100%);    
$secondaryGradient-35: linear-gradient(180deg, rgba(111,207,151, 0.35), rgba(102,210,234, 0.35));  

$font-family: Montserrat, Arial, sans-serif;
$font-color: $dark-shade-75;
$background-color: $white;
$font-size: 16px;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);