@import '../../styles/variables';

.diagram {
  font-size: 14px;
  color: $dark-shade-75;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  min-width: 320px;

  &__svg{
    margin-right: 1.45em;
    position: relative;
    z-index: 3;
  }
  
  &__item {
    fill: none;
    stroke-width: 1.1;
    cursor: pointer;

    animation-name: render;
    animation-duration: 0.7s; 

    transition-property: all; 
    transition-duration: 0.7s;

    &:hover, &:focus {
      opacity: 0.7;
      stroke-width: 3;
      outline: none;
    }
  }
  
  &__legend{
    margin-top: 2.3em;

    &-item{
      display: flex;
      align-items: center;
      margin-bottom: 0.43em;
      &-circle{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 0.3em;
    
        &-1{background: $gradient-3;}
        &-2{background: $secondaryGradient;}
        &-3{background: $primaryGradient;}
        &-4{background: $gradient-4;}
      }
    }
  }

  &__active-sector{
    color: $primaryColor;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    padding-bottom: 0.35rem;

    &-color-1{color: $color-3;}
    &-color-2{color: $secondaryColor;}
    &-color-3{color: $primaryColor;}
    &-color-4{color: $color-4;}
  
    &-number{
      font-size: 24px;
      margin-bottom: 0.05rem;
    }
    &-txt{
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  @keyframes render {
    0% {
      stroke-dasharray: 0 100;
    }
  }

}