@import '../../styles/Montserrat.css';
@import '../../styles/variables.scss';

.registration{
  &__main{
    height: 683px;
    position: relative;
  }
  
  &__container{
    max-width: 1170px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media screen and (max-width: 900px) {
      padding: 0 1rem;
    }
  }

  &__registration-card{
    max-width: 23.75rem;
    min-width: 15rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 1.1rem;
    padding-right: 3px;
  }

}