@import "../../styles/variables";
@import "../like-btn/like-btn.scss";

.review {
  color: $font-color;
  font-size: 14px;

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 0.7em;

    &-img {
      margin-right: 0.6em;
      width: 48px;
      height: 48px;
      border: 2px solid #ffffff;
      box-sizing: border-box;
      filter: drop-shadow(0px 10px 20px $color-main-lighter);
      border-radius: 32px;
    }

    &-name {
      font-weight: bold;
      margin-bottom: 0.43em;
    }
  }

  &__main {
    padding-left: 0.27em;
    display: flex;
    align-items: baseline;
  }

  &__likes {
    margin-right: 1em;
  }

  &__content {
    line-height: 24px;
  }
}
