doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Pages
  body
    .index
      h1.index__title Pages
      h3.index__ul-title Website:
      ul.index__pages
        li.index__page
          a.index__page-link(href='./landing.html') Landing page
        li.index__page
          a.index__page-link(href='./search-room.html') Search room
        li.index__page
          a.index__page-link(href='./room-details.html') Room details
        li.index__page
          a.index__page-link(href='./registration.html') Registration
        li.index__page
          a.index__page-link(href='./sign-in.html') Sign in
      h3.index__ul-title Ui-kit:
      ul.index__pages
        li.index__page
          a.index__page-link(href='./colors-and-type.html') Colors and type
        li.index__page
          a.index__page-link(href='./form-elements.html') Form elements
        li.index__page
          a.index__page-link(href='./cards.html') Cards
        li.index__page
          a.index__page-link(href='./headers-and-footers.html') Headers and footers