@import "../../styles/variables";

.index {

  margin-left: 1rem;

  &__title {
    margin-left: 3rem;
  }
  &__ul-title {
    margin-left: 3.7rem;
  }

  &__pages {
    width: 180px;
    margin: 1rem 4rem;
  }

  &__page {
    margin-bottom: 0.5rem;
    &-link {
      text-decoration: none;
      color: $color-main-darker;
      &:focus,
      &:hover {
        outline: none;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
