doctype html
html(lang='en')
  body
    ul
      li
        a.link(href='./colors-and-type.html') Colors and type
      li
        a.link(href='./form-elements.html') Form elements
      li
        a.link(href='./cards.html') Cards
      li
        a.link(href='./headers-and-footers.html') Headers and footers
      li
        a.link(href='./landing.html') Landing page
      li
        a.link(href='./search-room.html') Search room
      li
        a.link(href='./room-details.html') Room details