@import "../../styles/variables";

.footer {
  font-size: 14px;
  height: 443px;
  background-color: $background-color;
  padding: 0 0.5rem;
  margin-bottom: 1em;

  @media screen and (max-width: 900px) {
    display: none;
  }

  &__container {
    //max-width: 1160px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  &__logo {
    align-self: center;
    margin-right: 0.5em;
    margin-bottom: 1em;
    &_mobile {
      margin-bottom: 1em;
      margin-right: 0;
    }
  }

  &__main {
    padding-top: 7.1em;
    padding-bottom: 5.6em;
    display: flex;
    justify-content: flex-start;
    &-without-container {
      border-bottom: 1px solid $color-main-light;
      margin-bottom: 1.9em;
    }
  }

  &__column {
    padding-top: 0.3em;

    &-title {
      font-size: 12px;
      color: $color-main-darkest;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1.7em;
      &_subscription {
        margin-bottom: 1.5em;
      }
    }
    &-list {
      color: $color-main-dark;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &-item {
      margin-bottom: 1.45em;
    }
  }

  &__nav {
    margin-right: 3.6rem;
  }
  &__about {
    margin-right: 5.8rem;
  }
  &__support {
    margin-right: 3.2rem;
  }

  &__reward-txt,
  &__subscription-txt {
    color: $color-main-darker;
    line-height: 24px;
    margin-bottom: 1.25em;
  }

  &__column1 {
    max-width: 260px;
    margin-right: 2.6rem;
  }

  &__subscription {
    max-width: 260px;
    margin-bottom: 1em;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 14px;
    color: $color-main-darker;
    &_mobile {
      margin-bottom: 1.9em;
    }
  }

  &__social {
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    &_mobile {
      margin-right: 19px;
    }
    &-item {
      color: transparent;
      background: $primaryGradient;
      -webkit-background-clip: text;
      background-clip: text;

      margin-left: 0.97em;
      &_twitter {
        font-size: 20px;
      }
    }
  }

  &__mobile {
    height: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: $background-color;
    &-align-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 2px;
    }
  }

  &__mobile_hidden {
    display: none;
    @media screen and (max-width: 900px) {
      display: flex;
      z-index: 999;
    }
  }
}
