.dropdown {

  font-family: 'Montserrat';
  font-size: 12px;

  &__label {
    display: block;
    font-size: 12px;
  }

  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__label-span {
    font-weight: bold;
  }

  &__sublabel-span {
    color: $dark-shade-50;
  }

  &__input-flex-wrap{
    display: flex;  
  }

  &__input {
    font-family: 'Montserrat';
    font-size: 14px;
    display: block;
    margin: 0;
    background: $white;
    border: 1px solid $dark-shade-25;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    color: $dark-shade-75;
    padding: 12px 15px;
    padding-right: 44px;

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
    }

    &::placeholder {
      color: $dark-shade-25;
    }

    &_focus {
      border: 1px solid $dark-shade-50;
    }

  }//input

  &__arrow-btn{
    color: $dark-shade-75;
    font-size: 13px;
    position: absolute;
    left: -30px;
  }

  &__arrow-btn-flex-wrap{
    position: relative;
    display: flex;
    align-items: center;
  }

  &__list{
    border: 1px solid $dark-shade-50;
    box-sizing: border-box;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 7px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 7px;
  }

  &__list_is-hidden{
    display: none;
  }

  &__item{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    padding-bottom: 7px;
    font-weight: bold;
  }

  &__item-text{
    //padding: 0 8px;
    padding: 0;
  }

  &__number{
    padding: 0 11px;  
  }

  &__counter-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $dark-shade-50;
    background: $white;
    color: $dark-shade-50;
    font-family: 'Montserrat';
    font-size: 18px;
    &:disabled{
      border-color: $dark-shade-25; 
      color: $dark-shade-25; 
    }
  }

  &__list-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
  }

  &__list-footer-btn{
    color: $purple;
    font-weight: bold;
    text-transform: uppercase;

  }

}