@import '../../styles/variables';
@import '../btn-expand/btn-expand.scss';

.dropdown {
  color: $dark-shade-100;
  font-size: 12px;

  max-width: 320px;

  &__label {
    display: block;
    font-size: 12px;
    position: relative;
  }

  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__label-span {
    font-weight: bold;
  }

  &__sublabel-span {
    color: $dark-shade-50;
  }

  &__input-flex-wrap{
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  &__input {
    font-family: 'Montserrat';
    font-size: 14px;
    display: block;
    margin: 0;
    background: $white;
    border: 1px solid $dark-shade-25;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    color: $dark-shade-75;
    padding: 12px 90px 12px 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &_rounded-bottom-corners{
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &::placeholder {
      color: $dark-shade-25;
    }

    &_focus {
      border: 1px solid $dark-shade-50;
    }

  }//input

  &__list{
    background-color: $background-color;
    border: 1px solid $dark-shade-50;
    box-sizing: border-box;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 14px;
    padding-right: 6px;
    box-shadow: $shadow-5;

    position: absolute;
    z-index: 998;
    width: 100%;
  }

  &__list_is-hidden{
    display: none;
  }

  &__item{
    position: relative;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    padding-bottom: 7px;
    font-weight: bold;
  }

  &__counter-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $dark-shade-50;
    background: $white;
    color: $dark-shade-50;
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: center;
    align-items: center;
    &:focus, &:active, &:hover{
      outline: none;
      border-color: $dark-shade-75; 
      color: $dark-shade-75;
    }
    &:disabled{
      border-color: $dark-shade-25; 
      color: $dark-shade-25; 
    }
  }

  &__number-wrap{
    min-width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 11px;
  }

  &__list-footer-btn{
    color: $primaryColor;
    font-weight: bold;
    text-transform: uppercase;
    
    &:hover{
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__clean-btn_is-hidden{
    visibility: hidden;
  }

  &__notSeparatelyMessage{
    padding: 0.3em;
    font-weight: normal;
    text-transform: none;
    font-size: 1em;
    background: $primaryGradient-25;
    color: $dark-shade-100;
    box-shadow: 0px 3px 3px $dark-shade-50;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 100;
    transition-duration: 1s;
  }

  &__notSeparatelyMessage_visible{
    opacity: 0.9; 
  }




}

