@import "../../styles/variables";
@import "../checkbox/checkbox.scss";

.checkbox-list {
  color: $color-main-darkest;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 0;

  &:focus,
  &:hover {
    outline: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__label-flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.4em;
    &:focus,
    &:hover {
      outline: none;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__btn-expand {
    color: $color-main-darker;
    font-size: 13px;
  }

  &__btn-expand-rotate {
    transform: rotate(-180deg);
    padding-left: 0;
  }

  &__hidden {
    display: none;
  }
}
