include ../checkbox/checkbox.pug

mixin checkbox-list(params)
  - const { label, expandable, type, collapsed, list} = params;
  - const jsClassExpandable = expandable === true ? 'js-checkbox-list': ''
  - const listCollapsed = collapsed ? 'checkbox-list__hidden' : ''
  - const btnRotated = collapsed ? '' : 'checkbox-list__btn-expand-rotate'

  .checkbox-list(class= jsClassExpandable)
    .checkbox-list__label-flex-wrap(class= "js-checkbox-list__label-flex-wrap" tabindex=0)
      .checkbox-list__label.js-checkbox-list__label #{label}
      if expandable
        .checkbox-list__btn-expand(class=`icon-expand_more js-checkbox-list__btn-expand ${btnRotated}`)
    .checkbox-list__list(class=`js-checkbox-list__list ${listCollapsed}`)  
      each item in list
        +checkbox(item, type)
          
                