@import '../../styles/variables';

.registration-card{

  padding: 2.5em 1.8em 1.85em 1.8em;
  box-shadow: $card-shadow;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: $background-color;
  
  &__title{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.7em;
  }

  &__name{
    margin-bottom: 0.3em;
  }

  &__surname{
    margin-bottom: 0.6em;
    background-color: red;
  }

  &__sex{
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1.5em;
  }

  &__birth-date{
    margin-bottom: 1.3em;
  }

  &__email{
    margin-bottom: 0.3em;
  }

  &__password{
    margin-bottom: 0.6em;
  }

  &__receive-special-offers{
    margin-bottom: 1.55em;
  }

  &__submit{
    margin-bottom: 1.8em;
  }

  &__login{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-label{
      flex-grow: 3;
    }

    &-btn{
      flex-grow: 2.7;
    }
  }
}