include ../button/button.pug
include ../radio/radio.pug
include ../text-field/text-field.pug
include ../toggle/toggle.pug


mixin registration-card()
  form.registration-card
    h2.registration-card__title Регистрация аккаунта
    .registration-card__name
      +text-field({placeholder: "Имя"})
    .registration-card__surname
      +text-field({placeholder: "Фамилия"})
    .registration-card__sex
      +radio("sex", "Мужчина", true) 
      +radio("sex", "Женщина", false)  
    .registration-card__birth-date
      +text-field({label: "Дата рождения", placeholder: "ДД.ММ.ГГГГ", dateMasked: true})  
    .registration-card__email
      +text-field({label: "Данные для входа в сервис", placeholder: "Email"})
    .registration-card__password
      +text-field({placeholder: "Пароль"})
    .registration-card__receive-special-offers
      +toggle("Получать спецпредложения", false) 
    .registration-card__submit
      +button({text: "Перейти к оплате", type: "background", submit: true})  
    .registration-card__login
      .registration-card__login-label Уже есть аккаунт на Toxin
      .registration-card__login-btn
        +button({text: "Войти", type: "border", href: "./sign-in.html"}) 


    
