extends ../../page-layout/ui-kit-template/ui-kit-template.pug

include ../../blocks/footer/footer.pug
include ../../blocks/header/header.pug

block vars
  - const pageTitle = "Headers & footers"
  - const background = "grey"
block content
    .headers-and-footers
      .headers-and-footers__header
        +header({menuItems:[
          {name: "О нас"}, {name: "Услуги", 
          subItems:[{name: "Организация свадьбы"}, {name: "Корпоративные мероприятия"}, {name: "Прокат велосипедов"}]},
          {name: "Вакансии"}, {name: "Новости"},
          {name: "Соглашения", subItems:[{name: "Соглашение о предоставлении контактной информации"}, {name: "Соглашение о рекламе"}]}
        ] })
      .headers-and-footers__header
        +header({userName: "Юлий Цезарь", menuItems:[
          {name: "О нас"}, {name: "Услуги", 
          subItems:[{name: "Организация свадьбы"}, {name: "Корпоративные мероприятия"}, {name: "Прокат велосипедов"}]},
          {name: "Вакансии"}, {name: "Новости"},
          {name: "Соглашения", subItems:[{name: "Соглашение о предоставлении контактной информации"}, {name: "Соглашение о рекламе"}]}
        ] })
      .headers-and-footers__footer
        +footer({})
      .headers-and-footers__footer.headers-and-footers__footer_mobile
        +footer({mobile: "true"})