@import '../../styles/variables';

.room-search{
  
  padding: 2.5em 1.8em 1.85em 1.8em;
  box-shadow: $card-shadow;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  
  &__title{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.98em;
  }

  &__arrival-departure{
    margin-bottom: 1.3em;
  }

  &__guests{
    margin-bottom: 1.95em;;
  }

}
