@import "../../styles/variables";
@import "./nouislider.scss";

.range-slider {
  font-size: 12px;

  &__label-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.9em;
  }

  &__label {
    text-transform: uppercase;
    color: $color-main-darkest;
    font-weight: 700;
  }

  &__range {
    color: $color-main-dark;
  }
}
