  .colors-and-type{

    &__content-wrapper {
      max-width: 1132.26px;
      margin-left: auto;
      margin-right: auto;

      display: flex;
      justify-content: space-between;
      margin-top: 72px;
    }
    
    &__color-block {
      margin-bottom: 20px;
    }

    &__type-block {
      margin-bottom: 51px;
      max-width: 436px;
    }

  }
  


    