@font-face {
  font-family: 'brand-icons';
  src:  url('./brand-icons.eot?xmyhi');
  src:  url('./brand-icons.eot?xmyhi#iefix') format('embedded-opentype'),
    url('./brand-icons.ttf?xmyhi') format('truetype'),
    url('./brand-icons.woff?xmyhi') format('woff'),
    url('./brand-icons.svg?xmyhi#brand-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brand-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
