.like-btn {
  font-family: $font-family;
  color: $font-color;
  background-color: $white;
  font-size: 10px;

  color: $primaryColor;

  border-radius: 10px;
  padding: 0.1em;
  min-width: 25px;

  &_border-gradient {
    background: $primaryGradient;
  }

  &_border-solid-color {
    background: $primaryColor;
  }

  &_border_unactive {
    color: $dark-shade-25;
    background: $dark-shade-25;
  }

  &__internal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.25em 0.9em 0.25em 0.4em;
    border-radius: 10px;
    min-width: 24px;

    background-color: $white;
  }

  &__icon {
    height: 1em;
    box-sizing: border-box;

    &_gradient {
      color: transparent;
      background: $primaryGradient;
      -webkit-background-clip: text;
      background-clip: text;
    }

    &_solid-color {
      color: $primaryColor;
    }

    &_unactive{
      background: $white;
      color: $dark-shade-25;
    }
  }

}