@import "../../styles/variables";

.like-btn {
  color: $font-color;
  font-size: 10px;

  color: $primaryColor;

  border-radius: 10px;
  padding: 0.1em;
  min-width: 25px;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &_border-gradient {
    background: $primaryGradient;
  }

  &_border-solid-color {
    background: $primaryColor;
  }

  &_border_unactive {
    color: $color-main-light;
    background: $color-main-light;
  }

  &__internal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.25em 0.9em 0.25em 0.4em;
    border-radius: 10px;
    min-width: 24px;

    background-color: $background-color;
  }

  &__icon {
    height: 1em;
    box-sizing: border-box;

    &_gradient {
      color: transparent;
      background: $primaryGradient;
      -webkit-background-clip: text;
      background-clip: text;
    }

    &_solid-color {
      color: $primaryColor;
    }

    &_unactive {
      background: $background-color;
      color: $color-main-light;
    }
  }
}
