mixin like-btn(options)
  - const {numberOfLikes, active, iconColor, borderColor} = options
  - const iconColorClass = active ? `like-btn__icon_${iconColor}` : "like-btn__icon_unactive"
  - const borderColorClass = active ? `like-btn_border-${borderColor}` : "like-btn_border_unactive"

  .like-btn(class = borderColorClass)
    .like-btn__internal
      if active
        .like-btn__icon.icon-favorite(class= iconColorClass)
      else
        .like-btn__icon.icon-favorite_border(class= iconColorClass)
      .like-btn__number= numberOfLikes
