include ../rating/rating.pug
include ../carousel/carousel.pug

mixin room(options)
  - const {number, roomType, price, otzyvy, reviews, roomImages, rating, focused, groupID } = options
  - const priceStr = new Intl.NumberFormat('ru-RU').format(price)
  - const roomIsFocused = (focused === "true") ? true : false;
  
  article.room.js-room(tabindex=0 autofocus= roomIsFocused)
    .room__images
      +carousel({items:roomImages})
    .room__description
      .room__head
        .room__number-type
          .room__number
            span.room__number-sign №
            span.room__number-digit= `  ${number}`
          span.room__type= `${roomType}`
        .room__price= `${priceStr}₽ ` 
          span.room__price-per-day в сутки
      .room__rating
        +rating(`room__number`, rating.rating, rating.itemsNumber)
        .room__reviews
          span.room__reviews-number= reviews
          span.room__reviews-txt  Отзывов
          
        