@import '../../styles/variables';
@import '../../styles/material-icons.css';

.menu{

  font-size: 14px;
  color: $dark-shade-50;
  background-color: $background-color;
  

  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex; 

    @media screen and (max-width: 900px) {
        margin-top: 1rem;
        margin-bottom: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: large;
    }
  
  }

  &__item{
    margin-right: 1.45em;
    &-href{
      text-decoration: none;
      color: $dark-shade-50;
      display: flex;
      &:focus, &:hover{
        outline: none;
        color: $dark-shade-75;
        font-weight: 700;
      }
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 1rem;
    }
  }

  &__sublist{
    opacity: 1;
    display: block;
    list-style-type: none;
    margin-top: 0.5em;
    padding: 0.8em 1em 0 1em;
    position: absolute;
    background-color: $background-color;
    box-shadow: $card-shadow;
    border-radius: 4px;
    transition: opacity 0.4s ease-out;
    z-index: 3;

    &_hidden{
      display: none;
    }

    &_unvisible{
      opacity: 0;
      transition: 0.4s ease-in-out;
    }

  }

  &__subitem{
    margin-bottom: 1em;
  }

  &__expand-btn{
    padding-left: 0.4em;
    margin-right: 0.3em;
    margin-top: 0.2em;
  }

  &__toggle-btn{
    background: none;
    border: none;
    outline: none;
    padding: 1em;
    z-index: 100; 
    border-radius: 4px;
    display: none;Ð»

    &:hover > .menu__hamburger, &:focus > .menu__hamburger{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: none;
    }

    &_full-screen-open{
      position: fixed;
      top: 0;
      left: 0;

    }

    @media screen and (max-width: 900px) {
      display: block;
    }
  }

  &__hamburger{
    background-color: $dark-shade-50;
    width: 2em;
    height: 3px; 
    margin-bottom: 0.5em;
  }

}