mixin menu(items)
  nav.menu.js-menu
    button.menu__toggle-btn.js-menu__toggle-btn(aria-label="toggle navigation")
      .menu__hamburger
      .menu__hamburger
      .menu__hamburger
    ul.menu__list.js-menu__list
      each item in items
        - const {name, active = false, subItems = []} = item
        - const itemClasses = active ? "menu__item-href_active" : ""
        li.menu__item(tabindex=-1)
          a.menu__item-href(href="#" class= itemClasses)= name
            if (subItems.length > 0)
              span.menu__expand-btn.js-menu__expand-btn(class= "icon-expand_more" tabindex=-1)
          if (subItems.length > 0)
            ul.menu__sublist.menu__sublist_hidden.menu__sublist_unvisible(tabindex=-1)
              each subItem in subItems
                li.menu__subitem(tabindex= -1)
                  a.menu__item-href(href="#")= subItem.name          