include ../button/button.pug
include ../radio/radio.pug
include ../text-field/text-field.pug
include ../toggle/toggle.pug


mixin registration()
  form.registration
    h2.registration__title Регистрация аккаунта
    .registration__name
      +text-field({placeholder: "Имя"})
    .registration__surname
      +text-field({placeholder: "Фамилия"})
    .registration__sex
      +radio("sex", "Мужчина", true) 
      +radio("sex", "Женщина", false)  
    .registration__birth-date
      +text-field({label: "Дата рождения", placeholder: "ДД.ММ.ГГГГ", dateMasked: true})  
    .registration__email
      +text-field({label: "Данные для входа в сервис", placeholder: "Email"})
    .registration__password
      +text-field({placeholder: "Пароль"})
    .registration__receive-special-offers
      +toggle("Получать спецпредложения", false) 
    .registration__submit
      +button({text: "Перейти к оплате", type: "background", submit: true})  
    .registration__login
      .registration__login-label Уже есть аккаунт на Toxin
      .registration__login-btn
        +button({text: "Войти", type: "border"}) 


    
