@import '../../styles/Montserrat.css';
@import '../../styles/variables.scss';

$card-width: 23.75rem;

body{
  margin: 0;
  font-family: $font-family;

  .cards{

    margin-top: 70px;
    max-width: 1132.26px;
    margin-left: auto;
    margin-right: auto;

    &__logo {
      margin-top: 30px;
      margin-left: 30px;
    }

    &__columns{
      display: flex;
      justify-content: space-between;
    }

    &__room-search{
      width: $card-width;
      margin-bottom: 2.4rem;
    }

    &__registration{
      width: $card-width;
      margin-bottom: 2rem;
    }

    &__booking{
      width: $card-width;
      margin-bottom: 2.4rem;
    }



  }
}
