include ../../blocks/button/button.pug
include ../../blocks/logo/logo.pug
include ../../blocks/menu/menu.pug

mixin header(options)
  - const {userName= false, menuItems} = options
  .header.js-header
    .header__container
      .header__logo
        +logo
      button.header__burger-btn.js-header__burger-btn(aria-label="open/close menu")
          .header__burger-btn-strip
          .header__burger-btn-strip
          .header__burger-btn-strip
      .header__menu-container.js-header__menu-container
        .header__menu
          +menu(menuItems)
        if (!userName)
          .header__btns
            .header__btns-login
              +button({text: "Войти", type: "border", narrow: "true", href: "./sign-in.html"}) 
            .header__btns-registration
              +button({text: "Зарегистрироваться", type: "background", narrow: "true", href: "./registration.html"}) 
        else
          .header__user= userName
         


