@import '../../styles/variables';

.header{
  font-size: 14px;
  height: 70px;
  background-color: $background-color;
  padding: 0 0.5rem;
  box-shadow: $shadow-5;
  //@media screen and (max-width: 900px) {
    //top: 0;
    //overflow: hidden;
  //}

  &__container{
    max-width: 1160px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    align-self: center;
    margin-right: 0.5em;
    z-index: 3;
  }

  &__menu-container{
    display:flex;
    align-items: center;
    margin-right: 5px;

    @media screen and (max-width: 900px) {
      display: none;
      &_mobile{
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 4rem;
        position: fixed;
        background: $background-color;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transform: translateX(0);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
      }
    }
  }

  &__menu{
    margin-right: 0.1em;
  }

  &__btns{
    display: flex;
    gap: 1.5rem;

    &-login{
      width: 5.1rem;
    }
    &-registration{
      width: 12rem;
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-size: x-large;
    }

  }

  &__user{
    color: $dark-shade-50;
    padding: 0.5em 0 0.5em 1.5em;
    border-left: 1px solid $dark-shade-10;
  }

  &__burger-btn{
    background: none;
    border: none;
    outline: none;
    padding: 1em;
    z-index: 3; 
    border-radius: 4px;
    display: none;

    &-strip{
      background-color: $dark-shade-50;
      width: 2em;
      height: 3px; 
      margin-bottom: 0.5em;
    }

    &:hover > .header__burger-btn-strip, &:focus > .header__burger-btn-strip{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: none;
    }

    @media screen and (max-width: 900px) {
      display: block;
    }
  }

 
}