.air-datepicker {
  --adp-transition-offset: 8px;
  --adp-border-color-inline: #d7d7d7;
  --adp-color-disabled: #aeaeae;
  --adp-day-cell-height: 40px;
  --adp-month-cell-height: 42px;
  --adp-year-cell-height: 56px;
  --adp-pointer-size: 10px;
  --adp-poiner-border-radius: 2px;
  --adp-pointer-offset: 14px;
  --adp-mobile-font-size: 16px;
  --adp-mobile-nav-height: 40px;
  --adp-mobile-width: 320px;
  --adp-mobile-day-cell-height: 38px;
  --adp-mobile-month-cell-height: 48px;
  --adp-mobile-year-cell-height: 64px;

  font-family: 'Montserrat';
  font-size: 12px;
  color: $dark-shade-50;
  padding: 19px 19.5px 18px 14.5px;
  

  background: $white;
  border: 1px solid $dark-shade-25;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, -webkit-max-content);
  grid-template-rows: repeat(4, max-content);
  grid-template-areas:
    'nav'
    'body'
    'timepicker'
    'buttons';
  font-family: 'Montserrat';
  font-size: 12px;
  color: $dark-shade-50;
  width: 284px;
  position: absolute;
  transition: opacity .3s ease-out, transform .3s ease-out;
  z-index: 100;
  
  &:not(.-custom-position-) {
    opacity: 0
  }
  
  &.-from-top- {
    transform: translateY(calc(var(--adp-transition-offset) * -1))
  }
  
  &.-from-right- {
    transform: translateX(var(--adp-transition-offset))
  }
  
  &.-from-bottom- {
    transform: translateY(var(--adp-transition-offset))
  }
  
  &.-from-left- {
    transform: translateX(calc(var(--adp-transition-offset) * -1))
  }
  
  &.-active-:not(.-custom-position-) {
    transform: translate(0, 0);
    opacity: 1
  }
  
  &.-active-.-custom-position- {
    transition: none
  }
  
  &.-inline- {
    border-color: $dark-shade-25;
    box-shadow: none;
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none
  }
  
  &.-inline- .air-datepicker--pointer {
    display: none
  }

  &--navigation {
    grid-area: nav
  }
  
  &--content {
    box-sizing: content-box;
    grid-area: body;
    padding: 0px 5px;
  }

  &-overlay {
    position: fixed;
    background:  rgba(0, 0, 0, .3);
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity .3s ease-out, left 0s, height 0s, width 0s;
    transition-delay: 0s, .3s, .3s, .3s;
    z-index: 99
  }
  
  &-overlay.-active- {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-out, height 0s, width 0s
  }

  .air-datepicker.-is-mobile- {
    --adp-font-size: 12px;
    --adp-day-cell-height: var(--adp-mobile-day-cell-height);
    --adp-month-cell-height: var(--adp-mobile-month-cell-height);
    --adp-year-cell-height: var(--adp-mobile-year-cell-height);
    --adp-nav-height: var(--adp-mobile-nav-height);
    --adp-nav-action-size: var(--adp-mobile-nav-height);
    position: fixed;
    width: var(--adp-mobile-width);
    border: none;

    & * {
      -webkit-tap-highlight-color: transparent
    }
    
    &.air-datepicker--pointer {
      display: none
    }
    
    &:not(.-custom-position-) {
      transform: translate(-50%, calc(-50% + var(--adp-transition-offset)))
    }
    
    &.-active-:not(.-custom-position-) {
      transform: translate(-50%, -50%)
    }
  }

  .air-datepicker_date2-position{
    left: 520px;
  }
  
  &.-custom-position- {
    transition: none
  }
}

.air-datepicker-cell {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: $dark-shade-50;
  margin-top: 9px;

  &.-current- {
    color: $white;
    font-weight: bold;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $gradient-2;
    }
  }

  &.-focus- {
    &:not(.-selected-) {
      background: $gradient-1-25;
    }

    &:not(.-in-range-):not(.-selected-):not(.-range-from-):not(.-range-to-) {
      border-radius: 50%;
    }
  }

  &.-day-.-other-month-,
  &.-year-.-other-decade- {
    color: $dark-shade-25;
  }

  &.-day-.-other-month-.-range-to- {
    color: $white;
  }

  &.-range-from-:not(.-month-) {
    color: $white;
    font-weight: bold;
    background: $gradient-1-25;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  &.-range-to-:not(.-month-) {
    color: $white;
    font-weight: bold;
    background: $gradient-1-25;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &.-in-range-:not(.-month-) {
    background: $gradient-1-25;
    border-radius: 0
  }

  &.-selected-,
  &.-selected-.-other-month- {
    //border: none;
    position: relative;
    font-weight: bold;
    color: $white;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $gradient-1;
    }
  }

  &.-disabled- {
    cursor: default;
    color: var(--adp-color-disabled);
  }

}//air-datepicker-cell

.air-datepicker-body {
  transition: all .3s ease-out;

  &.-hidden- {
    display: none
  }

  &--day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 8px 0 3px
  }

  &--day-name {
    color: $purple;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }

  &--cells {
    display: grid;

    &.-days- {
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 40px;
    }

    &.-months- {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 42px;
      justify-items: center; 
    }

    &.-years- {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 56px;
      justify-items: center; 
    }
  }//cells

}//.air-datepicker-body

.air-datepicker-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 30px 8px;
  box-sizing: content-box;

  &--title,
  &--action {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
  }

  &--action {
    font-size: 18px;
    color: $purple;
    font-weight: normal;

    &:hover {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:active {
      font-weight: bold;
    }

    &.-disabled- {
      visibility: hidden
    }
  }

  &--title {
    color: $dark-shade-100;
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 5px;

    &:hover {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &.-disabled- {
      cursor: default;
      background: none
    }
  }

}//.air-datepicker-nav

.air-datepicker-buttons {
  grid-area: buttons;
  padding-top: 29px;
  margin-left: -2px;
  display: flex;
  justify-content: space-between;
}

.air-datepicker-button {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  cursor: pointer;
  border: none;
  color: $purple;
  background: $white;

  &:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}

.air-datepicker-global-container {
  position: absolute;
  left: 0;
  top: 0
}

.air-datepicker--pointer {
  --pointer-half-size: calc(var(--adp-pointer-size) / 2);
  position: absolute;
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  z-index: -1
}

.air-datepicker--pointer:after {
  content: '';
  position: absolute;
  background: #fff;
  border-top: 1px solid var(--adp-border-color-inline);
  border-right: 1px solid var(--adp-border-color-inline);
  border-top-right-radius: var(--adp-poiner-border-radius);
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  box-sizing: border-box
}

.-top-left- .air-datepicker--pointer,
.-top-center- .air-datepicker--pointer,
.-top-right- .air-datepicker--pointer,
[data-popper-placement^='top'] .air-datepicker--pointer {
  top: calc(100% - var(--pointer-half-size) + 1px)
}

.-top-left- .air-datepicker--pointer:after,
.-top-center- .air-datepicker--pointer:after,
.-top-right- .air-datepicker--pointer:after,
[data-popper-placement^='top'] .air-datepicker--pointer:after {
  transform: rotate(135deg)
}

.-right-top- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer,
[data-popper-placement^='right'] .air-datepicker--pointer {
  right: calc(100% - var(--pointer-half-size) + 1px)
}

.-right-top- .air-datepicker--pointer:after,
.-right-center- .air-datepicker--pointer:after,
.-right-bottom- .air-datepicker--pointer:after,
[data-popper-placement^='right'] .air-datepicker--pointer:after {
  transform: rotate(225deg)
}

.-bottom-left- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer,
[data-popper-placement^='bottom'] .air-datepicker--pointer {
  bottom: calc(100% - var(--pointer-half-size) + 1px)
}

.-bottom-left- .air-datepicker--pointer:after,
.-bottom-center- .air-datepicker--pointer:after,
.-bottom-right- .air-datepicker--pointer:after,
[data-popper-placement^='bottom'] .air-datepicker--pointer:after {
  transform: rotate(315deg)
}

.-left-top- .air-datepicker--pointer,
.-left-center- .air-datepicker--pointer,
.-left-bottom- .air-datepicker--pointer,
[data-popper-placement^='left'] .air-datepicker--pointer {
  left: calc(100% - var(--pointer-half-size) + 1px)
}

.-left-top- .air-datepicker--pointer:after,
.-left-center- .air-datepicker--pointer:after,
.-left-bottom- .air-datepicker--pointer:after,
[data-popper-placement^='left'] .air-datepicker--pointer:after {
  transform: rotate(45deg)
}

.-top-left- .air-datepicker--pointer,
.-bottom-left- .air-datepicker--pointer {
  left: var(--adp-pointer-offset)
}

.-top-right- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer {
  right: var(--adp-pointer-offset)
}

.-top-center- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer {
  left: calc(50% - var(--adp-pointer-size) / 2)
}

.-left-top- .air-datepicker--pointer,
.-right-top- .air-datepicker--pointer {
  top: var(--adp-pointer-offset)
}

.-left-bottom- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer {
  bottom: var(--adp-pointer-offset)
}

.-left-center- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer {
  top: calc(50% - var(--adp-pointer-size) / 2)
}