@import 'air-datepicker/air-datepicker.css';

.date-dropdown {

  font-family: 'Montserrat';
  display: flex;
  justify-content: space-between;

  &__label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  &__input {
    font-family: 'Montserrat';
    font-size: 14px;
    display: block;
    margin: 0;
    background: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    color: $dark-shade-75;
    padding: 12px 15px;
    width: 150px;

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
    }
  }
}