@import './air-datepicker.scss';

.date-dropdown {

  font-family: $font-family;
  background-color: $white;
  font-size: 14px;

  display: flex;
  justify-content: space-between;

  &__label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $dark-shade-100;
  }

  &__input {
    font-family: 'Montserrat';
    font-size: 14px;
    display: block;
    margin: 0;
    background: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    color: $dark-shade-75;
    padding: 12px 15px;
    max-width: 150px;

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
      outline: none;
    }
  }

  &__input-flex-wrap{
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  &__input.date-dropdown__double{
    max-width: 266px;
  
  }

}