include ../btn-expand/btn-expand.pug

mixin date-dropdown(params)
  - const { type, label_1, label_2, value_1, value_2, text_value, alwaysShow } = params;

  .date-dropdown
    if (type === 'double')
      label.date-dropdown__label= label_1
        .date-dropdown__input-flex-wrap    
          input.date-dropdown__input(class= "js-date-dropdown__double-start" readonly type= "text" value= value_1, placeholder= 'ДД.ММ.ГГГГ')
          +btn-expand        
      label.date-dropdown__label= label_2
        .date-dropdown__input-flex-wrap
          input.date-dropdown__input(class= "js-date-dropdown__double-end" readonly type= "text" value= value_2, placeholder= 'ДД.ММ.ГГГГ')
          +btn-expand
    if (type === 'single')
      label.date-dropdown__label= label_1
        .date-dropdown__input-flex-wrap
          input.date-dropdown__input(class= "js-date-dropdown__single" readonly type= "text" value= text_value, data-value= value_1, data-alwaysShow = alwaysShow, placeholder= 'ДД.ММ - ДД.ММ')
          +btn-expand