@import '../../styles/variables';
@import '../btn-expand/btn-expand.scss';
@import './air-datepicker.scss';

.date-dropdown {
  font-size: 14px;

  display: flex;
  justify-content: space-between;
  gap: 1.37em;
  width: 100%;

  &__label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $dark-shade-100;
    flex-grow: 1;
  }

  &__input {
    font-family: 'Montserrat';
    font-size: 14px;
    display: block;
    margin: 0;
    background: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    color: $dark-shade-75;
    //padding: 12px 16px;
    padding: 12px 0px 12px 13px;

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
      outline: none;
    }
  }

  &__input-hidden{
    display: none;
  }

  &__input-flex-wrap{
    margin-top: 0.4em;
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
  }

}